:root {
    --color1: hsl(0, 0%, 15%);
    --color2: hsl(0, 50%, 35%);
    --color2-alpha: hsla(0, 50%, 35%, 90%);
    --color3: hsl(0, 75%, 65%);

    color: white;
    background-color: var(--color1);
    font: normal 0.85em / 1 "Courier New", serif;
}

html {
    scrollbar-color: var(--color3) hsl(0, 0%, 10%);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 2%;
}

.main {
    margin: 0 2% 2em;
}

header, footer, .main {
    background-color: var(--color2-alpha);
    border-radius: 1em;
    padding: 1em 1em;
}

header, footer {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited:not(a:hover, a:active) {
    color: hsl(36, 49%, 74%);;
}

a:hover,
a:active {
    color: hsl(37, 72%, 61%);;
}

img {
    box-shadow: none;
}